@import (reference) "../../styles/variables.less";

.card {
  width: 900px;
  height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mainContainer {
  display: flex;
}

.answersContainer,
.questionContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.correctAnswerContainer {

}
