@import (reference) "../../styles/variables.less";

.card {
  width: 1200px;
  height: 650px!important;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content:space-between!important;
  border: 1px solid @secondary;
  box-shadow: @classic-shadow;
  background: linear-gradient(90deg, @fourth 50%, @fifth 50%);
}


.mainContainer {
  display: flex;
  height: 100%!important;
  position: relative;
}

.answersContainer,
.questionContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}

.answersContainer {
  background-color: @fourth;
  align-items: flex-start;
  padding-left: 25px;
}

.questionContainer {
  background-color: @fifth;
  align-items: flex-end;
  padding-right: 25px;
}

.imgContainer {
  position: absolute;
  z-index: 999;
  height: 250px;
  width: 250px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.startBtn {
  position: absolute;
  z-index: 999;
  height: 150px!important;
  width: 150px!important;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%!important;
  font-size: 30px!important;
  box-shadow: @classic-shadow;
}

.btnIcon {
  margin-right: 15px;
}