// @import './default.less';
@header-height: 80px;
@border-color: rgba(229, 231, 235, 100);
@padding-space: 144px;
@text-color: #314659;



.sidebar {
  position: fixed;
  height: 100vh;
  width: 250px!important;
}