// @import './default.less';
@header-height: 80px;
@border-color: rgba(229, 231, 235, 100);
@padding-space: 144px;
@text-color: #314659;



.sidebar {
  position: fixed;
  height: 100vh;
  width: 250px!important;
}

.openProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  padding: 10px;
}

.avatar {
  position: relative;
  height: 50px;
  width: 50px;
 
}

.avatarImage {
  border-radius: 50%!important;
}

.informationContainer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px 0px;
  margin-left: 10px;
}