@import url('https://fonts.googleapis.com/css2?family=Eczar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar&family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'STIX Two Math', serif!important;
  color: #F1F1EF!important;
  background-color: #f2f2f2!important;
  
}

h1, h2, h3, h4, h5 {
  padding: 0!important;
  margin: 0!important;
  color: #F1F1EF!important;
}

#mainMenu .ant-menu-item-selected {
  background-color: #045daf !important;
  color: #F1F1EF!important;
}


a {
  text-decoration: none!important;
}


#mainMenu .ant-menu-item-selected:hover {
  color: #F1F1EF!important;
}

p {
  padding: 0;
  margin: 0!important;
  color: #F1F1EF!important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ant-carousel-vertical .slick-dots-right {
  right: 16px!important;
}

.ant-carousel-vertical .slick-dots li button {
  background-color: #045daf!important;
  width: 7px!important;
  height: 20px!important;
}

.ant-carousel-vertical .slick-dots li.slick-active button {
  width: 3px;
  height: 24px;
}

.slick-arrow.slick-prev {
  font-size: 10px;
  
}

.ant-carousel .slick-prev::before {
  content: '<';
  display: block;
  position: relative;
  bottom: 10px;
  right: 20px;
  /* width: 100px; */
  font-size: 25px;
  color: #045daf;
  background-color: #045daf;
  border: 2px solid #045daf;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
 
}
.slick-arrow.slick-next {
font-size: 10px;
}
.ant-carousel .slick-next::before {
content: '>';
display: block;
position: relative;
right: 0px;
bottom: 10px;
/* width: 100px; */
font-size: 25px;
color: #045daf;
background-color: #045daf;
border: 2px solid #045daf;
display: flex;
justify-content: center;
align-items: center;
padding: 5px;
border-radius: 50%;
width: 40px;
height: 40px;
}