@import url('https://fonts.googleapis.com/css2?family=Eczar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar&family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'STIX Two Math', serif!important;
  color: #F1F1EF!important;
  background-color: #f2f2f2!important;
  
}

h1, h2, h3, h4, h5 {
  padding: 0!important;
  margin: 0!important;
  color: #F1F1EF!important;
}

#mainMenu .ant-menu-item-selected {
  background-color: #34421E !important;
  color: #C19434!important;
}


a {
  text-decoration: none!important;
}


#mainMenu .ant-menu-item-selected:hover {
  color: #C19434!important;
}

p {
  padding: 0;
  margin: 0!important;
  color: #F1F1EF!important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ant-carousel-vertical .slick-dots-right {
  right: 16px!important;
}

.ant-carousel-vertical .slick-dots li button {
  background-color: #C19434!important;
  width: 7px!important;
  height: 20px!important;
}

.ant-carousel-vertical .slick-dots li.slick-active button {
  width: 3px;
  height: 24px;
}